[submodule "third_party/openevolve"]
	path = third_party/openevolve
	url = https://github.com/algorithmicsuperintelligence/openevolve.git
[submodule "third_party/scip-clang"]
	path = third_party/scip-clang
	url = https://github.com/sourcegraph/scip-clang.git
[submodule "third_party/rlm"]
	path = third_party/rlm
	url = https://github.com/alexzhang13/rlm.git
[submodule "third_party/autocomp"]
	path = third_party/autocomp
	url = https://github.com/ucb-bar/autocomp.git
[submodule "third_party/CompilerAgentBench"]
	path = third_party/CompilerAgentBench
	url = https://github.com/copparihollmann/CompilerAgentBench.git
[submodule "data/cookbook"]
	path = data/cookbook
	url = https://github.com/copparihollmann/cooking-the-dragon.git
[submodule "experiments/torchao/ao"]
	path = experiments/torchao/ao
	url = https://github.com/pytorch/ao.git
